*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
}
.dis-n{
    display: none;
}
.wd-12{
    width: 96%;
    max-width: 1200px;
    position: relative;
}
.wrapper{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 16px;
}
.map{
    width: 90%;
    height: 304px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    position: relative;
    border-radius: 3px;
    overflow: hidden;
}
.map iframe{
    width: 100%;
    height: 100%
}
.openMap{
    position: absolute;
    bottom: 20px;
    width: 29%;
    color: #fff;
    background-color: rgba(35, 25, 220,0.9);
    text-align: center;
    height: 30px;
    line-height: 30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
}
.des{
    border: 1px #000  solid;
    width: 90%;
    margin-top: 20px;
    padding: 3px 4px;
    font-weight: 600;
    letter-spacing: 0px;
    margin-bottom: 10px;;
}
.tel label{
    width: 70px;
}
footer{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;;
}
.wrapper img{
    position: relative;
    width: 90%;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    overflow: hidden;
    height: 200px;
    border-radius: 4px;
    margin-top: 20px;;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.hz{
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
}
a:link {color: #337ab7} /* 未访抄问时的状zhidao态 */
a:visited {color: #337ab7} /* 已访问过的状态 */
a:hover {color: #337ab7} /* 鼠标移动到链接上时的状态 */
a:active {color: #337ab7} /* 鼠标按下去时的状态 */
.how{
    position: absolute;
    width: 100px;
    height: 240px;
    border: 0;
    right: 0;
    top: 0;
}
.howWrapper{
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.8);
    z-index: 3;
    width: 100vw;
    height: 100vh;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    display: none;
}
.howText{
    top: 40%;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}